In [3]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
sns.__version__

'0.9.0'

In [29]:
c = """
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
"""

In [1]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [2]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [3]:
# Python casting

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [6]:
a = "Hello, World!"
print(a.split(",")) # returns a list ['Hello', ' World!']

['Hello', ' World!']

In [9]:
# string formatting 

quantity = 60
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 60 pieces of item 567.

In [16]:
s = 'Pls check this out_'

print(s[-1])
print(s)

s1 = s.replace(s[-1],'')
s1

_
Pls check this out_

'Pls check this out'

In [17]:
thislist = ["apple", "banana", "cherry"]

if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [21]:
# apend, remove, pop, insert, clear, extent, index, copy to make an identical list
thislist = ["apple", "banana", "cherry"]
thislist.pop()
thislist

['apple', 'banana']

In [22]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [23]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets. Tuple convert to list
print(thislist)

['apple', 'banana', 'cherry']

In [24]:
thistuple = ("apple", "banana", "cherry")

print(thistuple[1])

banana

In [26]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [27]:
#  Once a set is created, you cannot change its items, but you can add new items.

In [32]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'cherry', 'orange', 'apple', 'banana', 'mango'}

In [33]:
thisset.discard("banana")

Set data type related methods
https://www.w3schools.com/python/python_sets.asp

In [43]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

for x in thisdict:  # return the dict key
  print(x)

print ('\n')
for x in thisdict: # per dict key, get the dict value per sepecified key
  print(thisdict[x])

print ('\n')
for x, y in thisdict.items():
  print(x, ':', y)

thisdict["color"] = "red" # update the dict value
print(thisdict)

brand
model
year


Ford
Mustang
2018


brand : Ford
model : Mustang
year : 2018
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [ ]:
# You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, 
# and changes made in dict1 will automatically also be made in dict2.

In [45]:
thisdict =	dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [46]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [47]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [48]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [50]:
d = {'x':1, 'y':2, 'z':3}
d1 = {'x':'a', 'y':'b', 'z':'c'}

dict((d1[key], value) for (key, value) in d.items())

{'a': 1, 'b': 2, 'c': 3}

In [52]:
dictionary = { 1: 'one', 2:'two', 3:'three' }
dictionary['ONE'] = dictionary.pop(1)
dictionary

{2: 'two', 3: 'three', 'ONE': 'one'}

In [53]:
# https://stackoverflow.com/questions/4406501/change-the-name-of-a-key-in-dictionary
# advance usage of the dictionary

In [54]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [55]:
# for iterating can be used ALSO with a string!!
for x in "banana":
  print(x)

b
a
n
a
n
a

In [56]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [57]:
for x in range(3):
  print(x)

0
1
2

In [58]:
# https://stackoverflow.com/questions/4406501/change-the-name-of-a-key-in-dictionary

In [59]:
# A lambda function can take any number of arguments, but can only have one expression.

In [62]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

In [61]:
# The power of lambda is better shown when you use them as an anonymous function inside another function

Iterator vs Iterable

In [67]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

StopIteration:

In [70]:
# import mobules, use Dir() to show supported methods and properties

In [69]:
import platform

x = dir(platform)
print(x)

['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_dist_try_harder', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', '_ver_stages', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

In [71]:
# Datetime inPython

In [72]:
import datetime

x = datetime.datetime.now()
print(x)

2019-08-10 16:58:25.585615

In [73]:
print(x.year)
print(x.strftime("%A"))

2019
Saturday

In [75]:
x = datetime.datetime(2020, 5, 17)
x

datetime.datetime(2020, 5, 17, 0, 0)

In [76]:
print(x.strftime("%B"))

May

In [77]:
# Jason - Python coversion

In [78]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [83]:
# convert into JSON:
y = json.dumps(x)
y

'"{ \\"name\\":\\"John\\", \\"age\\":30, \\"city\\":\\"New York\\"}"'

In [84]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [87]:
json.dumps(x, indent=4, sort_keys=True)

'"{ \\"name\\":\\"John\\", \\"age\\":30, \\"city\\":\\"New York\\"}"'

In [91]:
# Python RegEx 
# https://www.w3schools.com/python/python_regex.asp

In [90]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [97]:
# Try ... Except...: can be used for code debugging

In [103]:
try:
  print(w)
except:
  print("An exception occurred")
else:
    print('done!')

An exception occurred

In [102]:
try:
  f = open("demofile.txt")
  f.write("Lorum Ipsum")
except:
  print("Something went wrong when writing to the file")
else:
  f.close()

Something went wrong when writing to the file

In [110]:
# String format

price = 49

print("The price is {} dollars".format(price))
# print(f"(The price is {} dollars)")

The price is 49 dollars

In [119]:
carname, model = 'Benz', 'top'
myorder = "I have a {}, it is a {}."
print(myorder)
print(myorder.format(carname, model))

I have a {}, it is a {}.
I have a Benz, it is a top.

In [120]:
# use dict to remove duplicate elements, mahybe also set
def my_function(x):
  return list(dict.fromkeys(x))

mylist = my_function(["a", "b", "a", "c", "c"])

print(mylist)

['a', 'b', 'c']

In [124]:
dict.fromkeys(mylist)

{'a': None, 'b': None, 'c': None}

In [126]:
dict.values(mylist)

TypeError: descriptor 'values' requires a 'dict' object but received a 'list'

In [127]:
txt = "Hello World" [::-1] # reverse a string
print(txt)

dlroW olleH

In [130]:
txt.

AttributeError: 'str' object has no attribute 'revert'

In [ ]:
dir(str)

In [137]:
# string formatting

my_name = 'Roger'
my_age = 37
print(f'my name is {my_name.upper()} and my age is {my_age + 1}')
print(f"4 multipled by 10 is {4 * 10}")

my name is ROGER and my age is 38
4 multipled by 10 is 40

In [149]:
for n in range(1,5):
    s1 = f'The value is {n:03}' # start with : meaning to define a format, 02 - two zeros before
    s2 = f'The value is {n:.3f}' # start with : meaning to define a format .2f - two digit float
    print(s1)
    print(s2)

The value is 001
The value is 1.000
The value is 002
The value is 2.000
The value is 003
The value is 3.000
The value is 004
The value is 4.000

#### sets

In [153]:
s1 = set([1,2,3,4,5, 5,4,3, 2,1]) # list to se
# s1 = {1,2,3,4,5}

print(s1)

{1, 2, 3, 4, 5}

In [151]:
Ls1 = list(s1) # set to list

In [152]:
Ls1

[1, 2, 3, 4, 5]

In [156]:
s1.add(6) # just to add one more element
s1

{1, 2, 3, 4, 5, 6}

In [158]:
s1.update([6, 7, 8])
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [161]:
s1.update({9,10, 8, 6, 5})
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [164]:
s1.remove(6)
s1

{1, 2, 3, 4, 7, 8, 9, 10}

In [166]:
s1.discard(8)
s1

{1, 2, 3, 4, 7, 9, 10}

In [167]:
s2 = {4, 7, 9}
s3 = {1, 7,8, 9}
s1.intersection(s2,s3)

{7, 9}

In [168]:
s3.intersection(s1,s2) # get common ports

{7, 9}

In [169]:
s1.difference(s2) # in s1 but not in S2

{1, 2, 3, 10}

In [173]:
s2.difference(s1) # in s2 but not in s1

set()

In [179]:
s1.difference(s2, s3)

{2, 3, 10}

In [182]:
s1.symmetric_difference(s2)

{1, 2, 3, 10}

#### Sort

In [190]:
li = [9,6,7,5,6,3,5,4,2,1]
s_li = sorted(li, reverse = True) # one new list created 
li.sort() # just sort without changing origianal list
print(li)
print(s_li)
print(li.sort())

[1, 2, 3, 4, 5, 5, 6, 6, 7, 9]
[9, 7, 6, 6, 5, 5, 4, 3, 2, 1]
None

In [191]:
# Check to see if a string contains either of the strings in a list in Python

In [192]:
a = ['2005', '2006']

b = ['2005.123', '2005.234', '2006.123', '2007.234']

[value for value in b if any(d in value for d in a)]

['2005.123', '2005.234', '2006.123']

In [193]:
filter(lambda value: any(d in value for d in a), b)