In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
key_area_codes = pd.Series(['510', '512','521','541','551'])

In [15]:
s = ''
for c in key_area_codes:
    s = s + c + '-'
    
s

# s = s.slice(0,1)

'510-512-521-541-551-'

In [21]:
sentence = """ \
This multi-line string
has no space at the
top or the bottom
when it prints.\
"""

In [22]:
print(sentence)

 This multi-line string
has no space at the
top or the bottom
when it prints.

In [31]:
print(' '.join('hello world!'))

h e l l o   w o r l d !

In [36]:
print(','.join(['s1', 's2', 's3']))

s1,s2,s3

In [37]:
s = ','.join(['s1', 's2', 's3'])
s

's1,s2,s3'

In [40]:
df = pd.DataFrame({'a':[1,3,5,7,4,5,6,4,7,8,9],
                   'b':[3,5,6,2,4,6,7,8,7,8,9]})

# convert pd series to list data type, multiple ways as following

df['a'].values.tolist()

df['a'].tolist()

df['a'].drop_duplicates().values.tolist() # sieries drop duplicates

print(set(df['a'])) # set will auto drop the duplicate vlaue, and does not care postion of the element

list(set(df['a'])) # convert a set data to list

{1, 3, 4, 5, 6, 7, 8, 9}

[1, 3, 4, 5, 6, 7, 8, 9]